openapi: 3.1.0
info:
  description: The Stablecoin Payment Network
  title: Iron API - Sandbox Addresses TermsAndConditions API
  version: 1.0-16988
servers:
- url: https://api.sandbox.iron.xyz/api
tags:
- description: Operations on Terms and Conditions
  name: TermsAndConditions
paths:
  /terms-and-conditions:
    get:
      description: 'Retrieve all latest terms and conditions signings are required for a specific country

        '
      operationId: getAllCurrentTermsAndConditions
      parameters:
      - deprecated: false
        explode: true
        in: query
        name: country
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/XApiVersion'
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/TermsAndConditionsLink'
                type: array
          description: ''
        '400':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: ''
        '401':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: ''
        '404':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: ''
        '500':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: ''
      security:
      - ApiKeyAuth: []
      summary: Get all current terms and conditions
      tags:
      - TermsAndConditions
components:
  schemas:
    TermsAndConditionsLink:
      description: A terms and conditions link
      example:
        display_name: Terms and Conditions
        id: 019f846a-8d21-7813-8e60-8014904dbceb
        url: https://www.google.com/terms-and-conditions
      properties:
        display_name:
          description: the display name of the terms and conditions
          type: string
        id:
          description: The unique identifier for the terms and conditions url
          format: uuid
          type: string
        url:
          description: The URL of the terms and conditions
          type: string
      required:
      - id
      - url
      - display_name
      title: TermsAndConditionsLink
      type: object
  parameters:
    XApiVersion:
      description: 'Selects the API version for this request, as an ISO date (`YYYY-MM-DD`). Omit to use the default version (`2025-03-13`). Supported versions: 2025-03-13, 2026-07-01.'
      in: header
      name: X-API-Version
      required: false
      schema:
        type: string
  securitySchemes:
    ApiKeyAuth:
      description: API Key
      in: header
      name: X-API-Key
      type: apiKey
