openapi: 3.1.0
info:
  description: The Stablecoin Payment Network
  title: Iron API - Sandbox Addresses Autoramp API
  version: 1.0-16988
servers:
- url: https://api.sandbox.iron.xyz/api
tags:
- description: Operations on Autoramp
  name: Autoramp
paths:
  /autoramp-transactions:
    get:
      description: 'Returns a list of transactions, optionally filtered by autoramp ID or customer ID


        An optional `search_term` parameter can be provided that will search the following fields:


        - Bank Account Name

        - Bank Account Provider Name

        - Wallet Address

        - Transaction ID'
      operationId: getAutorampTransactions
      parameters:
      - deprecated: false
        description: Optional sub-partner UUID, if provided, the autoramps will be filtered for the sub-partner
        explode: true
        in: header
        name: X-SUB-PARTNER-ID
        required: false
        schema:
          type: string
      - deprecated: false
        description: Optional autoramp ID
        explode: false
        in: query
        name: autoramp_id
        required: false
        schema:
          default: null
          format: uuid
          type: string
      - deprecated: false
        description: Optional customer ID
        explode: false
        in: query
        name: customer_id
        required: false
        schema:
          default: null
          format: uuid
          type: string
      - deprecated: false
        description: 'Paging: the cursor field from previous page'
        explode: false
        in: query
        name: cursor
        required: false
        schema:
          default: null
          format: uuid
          type: string
      - deprecated: false
        description: 'Paging: the cursor field for backward pagination'
        explode: false
        in: query
        name: prev_cursor
        required: false
        schema:
          default: null
          format: uuid
          type: string
      - deprecated: false
        description: 'Paging: the requested page size'
        explode: false
        in: query
        name: page_size
        required: false
        schema:
          default: 10
          format: uint32
          maximum: 500.0
          type: integer
      - deprecated: false
        description: A search term to filter the transactions (searches bank account name, provider, wallet address, transaction ID, deposit transaction hash)
        explode: false
        in: query
        name: search_term
        required: false
        schema:
          default: null
          maxLength: 256
          type: string
      - deprecated: false
        description: Type of the autoramp (onramp, offramp or crypto-to-crypto swap)
        explode: false
        in: query
        name: ramp_type
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/AutorampType'
          - default: null
          default: null
      - deprecated: false
        description: Filter by start date (inclusive). Only transactions created on or after this date will be returned.
        explode: false
        in: query
        name: from_date
        required: false
        schema:
          default: null
          format: date-time
          type: string
      - deprecated: false
        description: Filter by end date (inclusive). Only transactions created on or before this date will be returned.
        explode: false
        in: query
        name: to_date
        required: false
        schema:
          default: null
          format: date-time
          type: string
      - deprecated: false
        description: Filter by transaction status. Multiple statuses can be provided as comma-separated values.
        explode: false
        in: query
        name: status
        required: false
        schema:
          default: null
          items:
            $ref: '#/components/schemas/AutorampTransactionStatus'
          type: array
      - deprecated: false
        description: Sort order for results. "asc" for oldest first, "desc" for newest first (default).
        explode: false
        in: query
        name: sort_order
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/SortOrder'
          - default: null
          default: null
      - deprecated: false
        description: Filter by batch payout flag. If true, only batch payout transactions are returned. If false, only non-batch payout. If omitted, all transactions are returned.
        explode: false
        in: query
        name: is_batch_payout
        required: false
        schema:
          default: null
          type: boolean
      - $ref: '#/components/parameters/XApiVersion'
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/PagedList_AutorampTransaction'
          description: Autoramp Transaction List
        '400':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Bad Request
        '401':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Unauthorized
        '500':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Error
      security:
      - ApiKeyAuth: []
      summary: List autoramp transactions
      tags:
      - Autoramp
  /autoramp-transactions/ids:
    get:
      description: 'Return a subset of transactions by ID.

        This can be used to query multiple transactions for updated states without having to go through all transactions.


        You have to provide at least one transaction ID


        Returns at most 100 transactions'
      operationId: getAutorampTransactionsByIds
      parameters:
      - deprecated: false
        description: Ids of the transactions to get
        explode: false
        in: query
        name: ids
        required: false
        schema:
          default: []
          items:
            format: uuid
            type: string
          type: array
      - $ref: '#/components/parameters/XApiVersion'
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/PagedList_AutorampTransaction'
          description: Autoramp Transaction List
        '400':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Bad Request
        '401':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Unauthorized
        '500':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Error
      security:
      - ApiKeyAuth: []
      summary: Get autoramp transactions by transaction IDs
      tags:
      - Autoramp
  /autoramps:
    get:
      description: 'Returns a paginated list of autoramps for all customers


        If customer ID is provided, returns all autoramps for the specified customer


        If status is provided, returns all autoramps with the specified status'
      operationId: getAutoramps
      parameters:
      - deprecated: false
        description: Optional sub-partner UUID, if provided, the autoramps will be filtered for the sub-partner
        explode: true
        in: header
        name: X-SUB-PARTNER-ID
        required: false
        schema:
          type: string
      - deprecated: false
        description: The optional Customer ID to filter autoramps by. If not provided, returns autoramps for all customers
        explode: false
        in: query
        name: customer_id
        required: false
        schema:
          default: null
          format: uuid
          type: string
      - deprecated: false
        description: Filter by autoramp status. Multiple statuses can be provided as comma-separated values.
        explode: false
        in: query
        name: status
        required: false
        schema:
          default: null
          items:
            $ref: '#/components/schemas/AutorampStatus'
          type: array
      - deprecated: false
        description: autoramp type filter
        explode: true
        in: query
        name: autoramp_type
        required: false
        schema:
          $ref: '#/components/schemas/AutorampType'
      - deprecated: false
        description: 'Paging: the cursor field from previous page'
        explode: false
        in: query
        name: cursor
        required: false
        schema:
          default: null
          format: uuid
          type: string
      - deprecated: false
        description: 'Paging: the cursor field for backward pagination'
        explode: false
        in: query
        name: prev_cursor
        required: false
        schema:
          default: null
          format: uuid
          type: string
      - deprecated: false
        description: 'Paging: the requested page size'
        explode: false
        in: query
        name: page_size
        required: false
        schema:
          default: 10
          format: uint32
          maximum: 100.0
          type: integer
      - deprecated: false
        description: Sort order for results. "asc" for oldest first, "desc" for newest first (default).
        explode: false
        in: query
        name: sort_order
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/SortOrder'
          - default: null
          default: null
      - deprecated: false
        description: Filter by batch payout flag. If true, only batch payout autoramps are returned. If false, only non-batch payout. If omitted, all autoramps are returned.
        explode: false
        in: query
        name: is_batch_payout
        required: false
        schema:
          default: null
          type: boolean
      - deprecated: false
        description: Filter by autoramp source. "Standalone" returns only market autoramps (with no attached quotes). "Quote" returns only autoramps with at least one attached quote. If omitted, all sources are returned.
        explode: true
        in: query
        name: source
        required: false
        schema:
          $ref: '#/components/schemas/AutorampSource'
      - $ref: '#/components/parameters/XApiVersion'
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/PagedList_Autoramp'
          description: Get autoramps successful
        '401':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Unauthorized
        '403':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Not Found
        '500':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Error
      security:
      - ApiKeyAuth: []
      summary: List Autoramps for a Customer
      tags:
      - Autoramp
    post:
      description: Creates a new autoramp, with a specified recipient account, source and destination currency
      operationId: createAutoramp
      parameters:
      - deprecated: false
        description: a UUID ensuring an Autoramp operation is only processed once
        explode: true
        in: header
        name: IDEMPOTENCY-KEY
        required: true
        schema:
          type: string
      - deprecated: false
        description: Optional sub-partner UUID, if provided, the autoramp will be created for the sub-partner
        explode: true
        in: header
        name: X-SUB-PARTNER-ID
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/XApiVersion'
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/CreateAutoramp'
        description: The request parameters for creating an autoramp
        required: true
      responses:
        '201':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Autoramp'
          description: Create autoramp successful
        '400':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Bad Request
        '401':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Unauthorized
        '403':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Forbidden (e.g. customer is suspended)
        '404':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Not Found
        '422':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Unprocessable Content
        '500':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Error
      security:
      - ApiKeyAuth: []
      summary: Create a new Autoramp
      tags:
      - Autoramp
  /autoramps/check-limit:
    get:
      description: Checks if a customer has reached their limit for creating new autoramps based on the deposit account type and whether it's a third-party ramp.
      operationId: checkAutorampLimit
      parameters:
      - deprecated: false
        description: The customer ID
        explode: true
        in: query
        name: customer_id
        required: true
        schema:
          format: uuid
          type: string
      - deprecated: false
        description: The type of deposit account intended (e.g., Iban, Wallet)
        explode: true
        in: query
        name: deposit_account_type
        required: true
        schema:
          $ref: '#/components/schemas/DepositAccountType'
      - deprecated: false
        description: Whether the intended autoramp is for a third party
        explode: true
        in: query
        name: is_third_party
        required: true
        schema:
          type: boolean
      - $ref: '#/components/parameters/XApiVersion'
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiCanCreateAutorampResponse'
          description: Check successful
        '401':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Unauthorized
        '404':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Not Found
        '500':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Error
      security:
      - ApiKeyAuth: []
      summary: Check if a customer can create more autoramps
      tags:
      - Autoramp
  /autoramps/payments/open-banking/{payment_id}:
    get:
      description: 'Get the autoramp open banking payment for a given autoramp

        '
      operationId: getAutorampOpenBankingPayment
      parameters:
      - deprecated: false
        description: The payment ID
        explode: false
        in: path
        name: payment_id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/XApiVersion'
      responses:
        '201':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiAutorampOpenBankingPayment'
          description: Create autoramp successful
        '400':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Bad Request
        '401':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Unauthorized
        '404':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Not Found
        '500':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Error
      security:
      - ApiKeyAuth: []
      summary: Get the autoramp open banking payment for existing payment
      tags:
      - Autoramp
  /autoramps/quote:
    get:
      description: Get a quote for an autoramp with fixed conversion rate, exact amount out or amount in
      operationId: getAutorampQuote
      parameters:
      - deprecated: false
        description: Optional sub-partner UUID, if provided, the autoramps will be filtered for the sub-partner
        explode: true
        in: header
        name: X-SUB-PARTNER-ID
        required: false
        schema:
          type: string
      - deprecated: false
        description: 'The parameters for the quote

          The customer id'
        explode: true
        in: query
        name: customer_id
        required: true
        schema:
          format: uuid
          type: string
      - deprecated: false
        description: The source currency code
        explode: true
        in: query
        name: source_currency_code
        required: true
        schema:
          maxLength: 32
          type: string
      - deprecated: false
        description: The source currency chain
        explode: true
        in: query
        name: source_currency_chain
        required: false
        schema:
          $ref: '#/components/schemas/Blockchain'
      - deprecated: false
        description: The destination currency code
        explode: true
        in: query
        name: destination_currency_code
        required: true
        schema:
          maxLength: 32
          type: string
      - deprecated: false
        description: The destination currency chain
        explode: true
        in: query
        name: destination_currency_chain
        required: false
        schema:
          $ref: '#/components/schemas/Blockchain'
      - deprecated: false
        description: 'The recipient account ID (fiat_address or verified_crypto_address ID)

          Use this parameter instead of recipient_account. This is the preferred way to provide the recipient account and will be used if both are provided.'
        explode: true
        in: query
        name: recipient_account_id
        required: false
        schema:
          default: null
          format: uuid
          type: string
      - deprecated: true
        description: '**DEPRECATED**: The recipient account, either a fiat iban or a crypto wallet address

          Use recipient_account_id instead'
        explode: true
        in: query
        name: recipient_account
        required: false
        schema:
          default: null
          maxLength: 256
          type: string
      - deprecated: false
        description: The source amount
        explode: true
        in: query
        name: amount_in
        required: false
        schema:
          default: null
          format: decimal
          type: string
      - deprecated: false
        description: The destination amount
        explode: true
        in: query
        name: amount_out
        required: false
        schema:
          default: null
          format: decimal
          type: string
      - deprecated: false
        description: The rate lock duration in minutes
        explode: true
        in: query
        name: rate_lock_duration_minutes
        required: false
        schema:
          default: null
          format: int64
          type: integer
      - deprecated: false
        description: The rate expiry policy
        explode: true
        in: query
        name: rate_expiry_policy
        required: true
        schema:
          $ref: '#/components/schemas/RateExpiryPolicy'
      - deprecated: false
        description: The slippage tolerance in bips
        explode: true
        in: query
        name: slippage_tolerance_in_bips
        required: false
        schema:
          default: null
          format: decimal
          type: string
      - deprecated: false
        description: The autoramp expiry time in hours. Maximum is 24 hours. It is limited to rate lock duration if rate expiry policy is Return
        explode: true
        in: query
        name: expiry_in_hours
        required: true
        schema:
          format: int64
          type: integer
      - deprecated: false
        description: Is this a third party autoramp
        explode: true
        in: query
        name: is_third_party
        required: true
        schema:
          type: boolean
      - deprecated: false
        description: Sender Account Number is required when the source currency is African & payment type is Bank transfer
        explode: true
        in: query
        name: sender_account_number
        required: false
        schema:
          default: null
          maxLength: 256
          type: string
      - deprecated: false
        description: Sender Mobile Number is required when the source currency is African & payment type is Mobile Money
        explode: true
        in: query
        name: sender_mobile_number
        required: false
        schema:
          default: null
          maxLength: 256
          type: string
      - deprecated: false
        description: Sender Account Financial Institution/Bank is required when the source currency is African
        explode: true
        in: query
        name: sender_bank
        required: false
        schema:
          $ref: '#/components/schemas/Bank'
      - deprecated: false
        description: The external id
        explode: true
        in: query
        name: external_id
        required: false
        schema:
          default: null
          type: string
      - deprecated: false
        description: wire_message
        explode: true
        in: query
        name: wire_message
        required: false
        schema:
          default: null
          type: string
      - deprecated: false
        description: swift_payment_reference
        explode: true
        in: query
        name: swift_payment_reference
        required: false
        schema:
          default: null
          type: string
      - deprecated: false
        description: sepa_payment_reference
        explode: true
        in: query
        name: sepa_payment_reference
        required: false
        schema:
          default: null
          type: string
      - deprecated: false
        description: ach_payment_reference
        explode: true
        in: query
        name: ach_payment_reference
        required: false
        schema:
          default: null
          type: string
      - deprecated: false
        description: fps_payment_reference
        explode: true
        in: query
        name: fps_payment_reference
        required: false
        schema:
          default: null
          type: string
      - deprecated: false
        description: The fee profile id to use for the autoramp
        explode: true
        in: query
        name: fee_profile_id
        required: false
        schema:
          default: null
          format: uuid
          type: string
      - deprecated: false
        description: Whether payouts for this autoramp are batched daily
        explode: true
        in: query
        name: batch_payout
        required: false
        schema:
          default: null
          type: boolean
      - deprecated: false
        description: 'Additional input currency codes to allow on the autoramp beyond

          `source_currency_code`. Used to enable later per-currency quotes via

          `POST /autoramps/:id/quotes` on a quote-type autoramp.


          Must have the same length as `additional_in_currency_chains` and be

          index-aligned: the chain at position `i` describes the code at

          position `i`.'
        explode: false
        in: query
        name: additional_in_currency_codes
        required: false
        schema:
          default: []
          items:
            type: string
          maxItems: 16
          type: array
      - deprecated: false
        description: 'Chains for each entry in `additional_in_currency_codes`, index-aligned.

          Must have the same length as `additional_in_currency_codes`.'
        explode: false
        in: query
        name: additional_in_currency_chains
        required: false
        schema:
          default: []
          items:
            $ref: '#/components/schemas/Blockchain'
          maxItems: 16
          type: array
      - deprecated: false
        description: 'If true, a payment reference will be generated for the autoramp on

          inbound matching (pay-by-reference). Defaults to false if not provided.'
        explode: true
        in: query
        name: pay_by_reference
        required: false
        schema:
          default: null
          type: boolean
      - $ref: '#/components/parameters/XApiVersion'
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/SignedAutorampQuote'
          description: Get Quote successful
        '400':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Bad Request
        '401':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Unauthorized
        '403':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Not Found
        '500':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Error
      security:
      - ApiKeyAuth: []
      summary: Get a quote for an autoramp
      tags:
      - Autoramp
  /autoramps/quotes-preview:
    get:
      description: 'Price a prospective autoramp knowing only the currencies — before a recipient

        wallet or bank account is selected. Prices identically to `getAutorampQuote`;

        banking fees assume the destination currency''s default payout rail (USD→ACH,

        EUR→SEPA, GBP→FPS; see `assumed_payout_rail` in the response). The result is an

        estimate and cannot be submitted; fetch a signed quote once a recipient is chosen.'
      operationId: getAutorampQuotePreview
      parameters:
      - deprecated: false
        description: Optional sub-partner UUID, if provided, the quote preview is scoped to the sub-partner
        explode: true
        in: header
        name: X-SUB-PARTNER-ID
        required: false
        schema:
          type: string
      - deprecated: false
        description: The customer id
        explode: true
        in: query
        name: customer_id
        required: true
        schema:
          format: uuid
          type: string
      - deprecated: false
        description: The source currency code
        explode: true
        in: query
        name: source_currency_code
        required: true
        schema:
          maxLength: 32
          type: string
      - deprecated: false
        description: The source currency chain
        explode: true
        in: query
        name: source_currency_chain
        required: false
        schema:
          $ref: '#/components/schemas/Blockchain'
      - deprecated: false
        description: The destination currency code
        explode: true
        in: query
        name: destination_currency_code
        required: true
        schema:
          maxLength: 32
          type: string
      - deprecated: false
        description: The destination currency chain
        explode: true
        in: query
        name: destination_currency_chain
        required: false
        schema:
          $ref: '#/components/schemas/Blockchain'
      - deprecated: false
        description: The source amount. Provide exactly one of amount_in / amount_out.
        explode: true
        in: query
        name: amount_in
        required: false
        schema:
          default: null
          format: decimal
          type: string
      - deprecated: false
        description: The destination amount. Provide exactly one of amount_in / amount_out.
        explode: true
        in: query
        name: amount_out
        required: false
        schema:
          default: null
          format: decimal
          type: string
      - deprecated: false
        description: Price against this fee profile; resolved automatically when omitted
        explode: true
        in: query
        name: fee_profile_id
        required: false
        schema:
          default: null
          format: uuid
          type: string
      - deprecated: false
        description: Is this a third party autoramp (defaults to false)
        explode: true
        in: query
        name: is_third_party
        required: false
        schema:
          default: null
          type: boolean
      - $ref: '#/components/parameters/XApiVersion'
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiAutorampQuotePreview'
          description: Preview successful
        '400':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Bad Request
        '401':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Unauthorized
        '403':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Not Found
        '500':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Error
      security:
      - ApiKeyAuth: []
      summary: Get autoramp quote preview
      tags:
      - Autoramp
  /autoramps/{autoramp_id}:
    delete:
      description: Cancel the execution of an autoramp. After this, the given autoramp will not perform any transactions anymore.
      operationId: cancelAutoramp
      parameters:
      - deprecated: false
        description: The autoramp ID
        explode: false
        in: path
        name: autoramp_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/XApiVersion'
      responses:
        '204':
          description: Autoramp cancelled successfully
        '401':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Unauthorized
        '404':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Not Found
        '500':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Error
      security:
      - ApiKeyAuth: []
      summary: Cancel an Autoramp
      tags:
      - Autoramp
    get:
      description: Get a single autoramp by ID
      operationId: getAutorampById
      parameters:
      - deprecated: false
        description: The autoramp ID
        explode: false
        in: path
        name: autoramp_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/XApiVersion'
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Autoramp'
          description: Get autoramp successful
        '401':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Unauthorized
        '404':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Not Found
        '500':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Error
      security:
      - ApiKeyAuth: []
      summary: Get an Autoramp by ID
      tags:
      - Autoramp
    patch:
      description: 'Patch the autoramp market by ID

        '
      operationId: patchAutorampMarketById
      parameters:
      - deprecated: false
        description: Optional sub-partner UUID, if provided, the autoramps will be filtered for the sub-partner
        explode: true
        in: header
        name: X-SUB-PARTNER-ID
        required: false
        schema:
          type: string
      - deprecated: false
        description: The autoramp ID
        explode: false
        in: path
        name: autoramp_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/XApiVersion'
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/PatchAutorampMarketParameters'
        description: Parameters for updating the autoramp market
        required: true
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Autoramp'
          description: Update autoramp successful
        '400':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden (e.g. customer is suspended)
        '404':
          description: Not Found
        '500':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Error
      security:
      - ApiKeyAuth: []
      summary: Patch an autoramp market
      tags:
      - Autoramp
  /autoramps/{autoramp_id}/payments/open-banking:
    get:
      description: 'Returns a paginated list of all open banking payment attempts for the

        autoramp, ordered by most recent first. Statuses are refreshed from the

        provider on every call (skipping payments already in terminal states).


        Pagination follows the standard cursor pattern: pass `cursor` =

        `iron_payment_id` of the last item in the previous page to fetch the

        next (older) page, or `prev_cursor` to walk backward (newer).'
      operationId: listAutorampOpenBankingPayments
      parameters:
      - deprecated: false
        explode: true
        in: path
        name: autoramp_id
        required: true
        schema:
          format: uuid
          type: string
      - deprecated: false
        explode: false
        in: query
        name: cursor
        required: false
        schema:
          default: null
          format: uuid
          type: string
      - deprecated: false
        explode: false
        in: query
        name: prev_cursor
        required: false
        schema:
          default: null
          format: uuid
          type: string
      - deprecated: false
        explode: false
        in: query
        name: page_size
        required: false
        schema:
          default: 10
          format: uint32
          maximum: 10.0
          type: integer
      - deprecated: false
        explode: false
        in: query
        name: sort_order
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/SortOrder'
          - default: null
          default: null
      - $ref: '#/components/parameters/XApiVersion'
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/PagedList_ApiAutorampOpenBankingPayment'
          description: ''
        '401':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: ''
        '404':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: ''
        '500':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ''
      security:
      - ApiKeyAuth: []
      summary: List open banking payments for an autoramp
      tags:
      - Autoramp
    post:
      description: 'Create an open banking payment link for a given autoramp

        '
      operationId: createAutorampOpenBankingPayment
      parameters:
      - deprecated: false
        description: a UUID ensuring an Autoramp operation is only processed once
        explode: true
        in: header
        name: IDEMPOTENCY-KEY
        required: true
        schema:
          type: string
      - deprecated: false
        description: The autoramp ID
        explode: false
        in: path
        name: autoramp_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/XApiVersion'
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/CreateAutorampOpenBankingPayment'
        description: Open banking payment parameters
        required: true
      responses:
        '201':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiAutorampOpenBankingPayment'
          description: Create autoramp successful
        '400':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Bad Request
        '401':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Unauthorized
        '404':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Not Found
        '500':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Error
      security:
      - ApiKeyAuth: []
      summary: Create an open banking payment link
      tags:
      - Autoramp
  /autoramps/{autoramp_id}/quote:
    get:
      description: 'Generates a signed rate quote for an existing quote-type autoramp.

        The autoramp''s currencies, recipient, and fee profile are used automatically.'
      operationId: getAutorampRateQuote
      parameters:
      - deprecated: false
        explode: true
        in: path
        name: autoramp_id
        required: true
        schema:
          format: uuid
          type: string
      - deprecated: false
        description: The source currency code — must be one of the autoramp's input currencies
        explode: true
        in: query
        name: source_currency_code
        required: true
        schema:
          maxLength: 32
          type: string
      - deprecated: false
        description: The source currency chain (required for crypto source currencies)
        explode: true
        in: query
        name: source_currency_chain
        required: false
        schema:
          $ref: '#/components/schemas/Blockchain'
      - deprecated: false
        explode: true
        in: query
        name: amount_in
        required: false
        schema:
          format: decimal
          type: string
      - deprecated: false
        explode: true
        in: query
        name: amount_out
        required: false
        schema:
          format: decimal
          type: string
      - deprecated: false
        explode: true
        in: query
        name: rate_lock_duration_minutes
        required: false
        schema:
          format: int64
          type: integer
      - deprecated: false
        explode: true
        in: query
        name: rate_expiry_policy
        required: true
        schema:
          $ref: '#/components/schemas/RateExpiryPolicy'
      - deprecated: false
        explode: true
        in: query
        name: slippage_tolerance_in_bips
        required: false
        schema:
          format: decimal
          type: string
      - deprecated: false
        explode: true
        in: query
        name: expiry_in_hours
        required: true
        schema:
          format: int64
          maximum: 24.0
          type: integer
      - deprecated: false
        description: 'An optional payout reference applied when paying out transactions

          matched to this quote. Overrides the autoramp''s payment reference.'
        explode: true
        in: query
        name: payment_reference
        required: false
        schema:
          maxLength: 140
          minLength: 1
          pattern: ^[A-Za-z0-9 /\-?:().+]*$
          type: string
      - $ref: '#/components/parameters/XApiVersion'
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/SignedAutorampRateQuote'
          description: Get rate quote successful
        '400':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Bad Request
        '401':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Unauthorized
        '403':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Not Found
        '500':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Error
      security:
      - ApiKeyAuth: []
      summary: Get a rate quote for an existing autoramp
      tags:
      - Autoramp
  /autoramps/{autoramp_id}/quotes:
    post:
      description: Attaches a signed rate quote to an existing quote-type autoramp.
      operationId: attachQuoteToAutoramp
      parameters:
      - deprecated: false
        description: a UUID ensuring the operation is only processed once
        explode: true
        in: header
        name: IDEMPOTENCY-KEY
        required: true
        schema:
          type: string
      - deprecated: false
        explode: true
        in: path
        name: autoramp_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/XApiVersion'
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/SignedAutorampRateQuote'
        required: true
      responses:
        '201':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Autoramp'
          description: Attach quote successful
        '400':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Bad Request
        '401':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Unauthorized
        '403':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Forbidden (e.g. customer is suspended)
        '404':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Not Found
        '409':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Conflict (e.g. quote already attached)
        '500':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Error
      security:
      - ApiKeyAuth: []
      summary: Attach a quote to an existing autoramp
      tags:
      - Autoramp
  /autoramps/{autoramp_id}/retry-auth:
    post:
      deprecated: true
      description: 'Retry the authentication process on a failed autoramp

        '
      operationId: retryAutorampAuth
      parameters:
      - deprecated: false
        description: a UUID ensuring an Autoramp operation is only processed once
        explode: true
        in: header
        name: IDEMPOTENCY-KEY
        required: true
        schema:
          type: string
      - deprecated: false
        description: the autoramp ID
        explode: false
        in: path
        name: autoramp_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/XApiVersion'
      responses:
        '201':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AuthenticationCode'
          description: Authorization of autoramp succeeded
        '401':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Unauthorized
        '404':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Not Found
        '500':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Error
      summary: Retry authentication
      tags:
      - Autoramp
  /autoramps/{external_id}/external:
    get:
      description: Get a single autoramp by external ID
      operationId: getAutorampByExternalId
      parameters:
      - deprecated: false
        description: The autoramp external ID
        explode: false
        in: path
        name: external_id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/XApiVersion'
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Autoramp'
          description: Get autoramp successful
        '401':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Unauthorized
        '404':
          content:
            application/json; charset=utf-8:
              schema:
                type: string
          description: Not Found
        '500':
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Error
      security:
      - ApiKeyAuth: []
      summary: Get an Autoramp by external ID
      tags:
      - Autoramp
components:
  schemas:
    Country:
      description: A country
      example:
        code: DE
      properties:
        code:
          description: The ISO_3166-1 Alpha-2 country code, e.g. "DE"
          maxLength: 2
          minLength: 2
          type: string
      required:
      - code
      title: Country
      type: object
    PagedList_Autoramp:
      description: 'PagedList


        A list of items with cursors used to fetch the next or previous page

        '
      properties:
        cursor:
          description: The cursor used to fetch the next page
          format: uuid
          type: string
        items:
          description: The list of items
          items:
            $ref: '#/components/schemas/Autoramp'
          type: array
        prev_cursor:
          default: null
          description: The cursor used to fetch the previous page
          format: uuid
          type: string
      required:
      - items
      title: PagedList_Autoramp
      type: object
    BankAccountCHAPSIdentifier:
      example:
        account_number: '12345678'
        sort_code: 20-00-00
      properties:
        account_number:
          type: string
        sort_code:
          type: string
      required:
      - sort_code
      - account_number
      title: BankAccountCHAPSIdentifier
      type: object
    SwiftDepositInfo:
      example:
        account_number: '1234567890'
        bank_address: 1 Chase Manhattan Plaza, New York, NY 10005, US
        bank_name: JPMorgan Chase Bank
        bic: CHASUS33XXX
        recipient_address: 123 Main Street, New York, NY 10001, US
        recipient_name: Alan Turing
      properties:
        account_number:
          type: string
        bank_address:
          type: string
        bank_name:
          type: string
        bic:
          type: string
        memo:
          type: string
        recipient_address:
          type: string
        recipient_name:
          type: string
      required:
      - bic
      - account_number
      - bank_name
      - bank_address
      - recipient_name
      - recipient_address
      title: SwiftDepositInfo
      type: object
    DepositAccount_MobileMoneyDepositInfo:
      allOf:
      - properties:
          type:
            enum:
            - MobileMoney
            example: MobileMoney
            type: string
        required:
        - type
        type: object
      - $ref: '#/components/schemas/MobileMoneyDepositInfo'
      description: 'DepositAccount


        DEPRECATED: please use the deposit_rails field instead

        '
    Account_CryptoWallet:
      allOf:
      - properties:
          type:
            enum:
            - Crypto
            example: Crypto
            type: string
        required:
        - type
        type: object
      - $ref: '#/components/schemas/CryptoWallet'
      description: 'Account


        The account for the autoramp

        '
    PixEvpKey:
      description: 'PixEvpKey


        A random PIX DICT key (EVP) generated by the recipient''s bank.'
      example:
        key: 123e4567-e89b-12d3-a456-426614174000
      properties:
        key:
          description: A lowercase UUID, e.g. 123e4567-e89b-12d3-a456-426614174000
          pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
          type: string
      required:
      - key
      title: PixEvpKey
      type: object
    Currency_Fiat:
      allOf:
      - properties:
          type:
            enum:
            - Fiat
            example: Fiat
            type: string
        required:
        - type
        type: object
      - $ref: '#/components/schemas/Fiat'
      description: 'Currency


        Can be either crypto or fiat

        '
    RampTransactionSource:
      anyOf:
      - $ref: '#/components/schemas/ApiWalletDepositSource'
      - $ref: '#/components/schemas/ApiBankAccountSource'
      description: The source of the autoramp transaction
      type: object
    PixCpfKey:
      description: 'PixCpfKey


        A PIX DICT key that is the recipient''s CPF.'
      example:
        key: '12345678909'
      properties:
        key:
          description: 11-digit CPF, with or without the `XXX.XXX.XXX-XX` formatting
          pattern: ^([0-9]{11}|[0-9]{3}\.[0-9]{3}\.[0-9]{3}-[0-9]{2})$
          type: string
      required:
      - key
      title: PixCpfKey
      type: object
    PixAccountIdentifier:
      anyOf:
      - $ref: '#/components/schemas/PixAccountIdentifier_PixCpfKey'
      - $ref: '#/components/schemas/PixAccountIdentifier_PixCnpjKey'
      - $ref: '#/components/schemas/PixAccountIdentifier_PixEmailKey'
      - $ref: '#/components/schemas/PixAccountIdentifier_PixPhoneKey'
      - $ref: '#/components/schemas/PixAccountIdentifier_PixEvpKey'
      - $ref: '#/components/schemas/PixAccountIdentifier_PixBankDetails'
      description: 'PixAccountIdentifier


        How the recipient''s PIX account is identified: a DICT key of one of the

        five key types, or full bank account details.'
      discriminator:
        mapping:
          BANK_DETAILS: '#/components/schemas/PixAccountIdentifier_PixBankDetails'
          CNPJ: '#/components/schemas/PixAccountIdentifier_PixCnpjKey'
          CPF: '#/components/schemas/PixAccountIdentifier_PixCpfKey'
          EMAIL: '#/components/schemas/PixAccountIdentifier_PixEmailKey'
          EVP: '#/components/schemas/PixAccountIdentifier_PixEvpKey'
          PHONE: '#/components/schemas/PixAccountIdentifier_PixPhoneKey'
        propertyName: type
      type: object
    PixPhoneKey:
      description: 'PixPhoneKey


        A PIX DICT key that is the recipient''s phone number.'
      example:
        key: '+5511987654321'
      properties:
        key:
          description: International format with leading `+`, e.g. +5511987654321
          pattern: ^\+[1-9][0-9]{1,14}$
          type: string
      required:
      - key
      title: PixPhoneKey
      type: object
    AutorampStatus:
      enum:
      - Created
      - EditPending
      - Authorized
      - DepositAccountAdded
      - Approved
      - Rejected
      - Cancelled
      type: string
    ApiBankAccountSource:
      description: A bank account source of an autoramp transaction
      example:
        account_number: null
        bank_name: Iron Bank
        bic: COBADEFFXXX
        iban: DE89370400440532013000
        name: Alan Turing
        routing_number: null
        sort_code: null
      properties:
        account_number:
          description: The account number for US accounts
          type: string
        bank_name:
          description: The bank name
          type: string
        bic:
          description: The bic
          type: string
        iban:
          description: The iban
          type: string
        name:
          description: The name of the account holder
          type: string
        routing_number:
          description: The routing number of the bank, for US accounts
          type: string
        sort_code:
          description: The sort code of the bank, for UK accounts
          type: string
      required:
      - bank_name
      - iban
      - bic
      - name
      title: ApiBankAccountSource
      type: object
    SpeiDepositInfo:
      properties:
        clabe:
          type: string
        instruction:
          type: string
      required:
      - clabe
      - instruction
      title: SpeiDepositInfo
      type: object
    AutorampTransactionState:
      description: 'Autoramp Transaction State


        The state of the autoramp transaction

        '
      enum:
      - Pending
      - PayoutPending
      - Payout
      - PayoutCompleted
      - Completed
      - Failed
      - InAmlReview
      - AmlRejected
      - AmountRejected
      - FraudRejected
      type: string
    AuthenticationCode:
      description: 'An authentication code


        used to confirm a 2FA action

        '
      properties:
        attempts:
          description: attempts to submit the authentication code
          format: int32
          type: integer
        entity_id:
          description: the ID of the entity the authentication is related to
          format: uuid
          type: string
        expires_at:
          description: the time of expiry for the authentication code
          format: date-time
          type: string
        id:
          description: The ID of the authentication code
          format: uuid
          type: string
        status:
          $ref: '#/components/schemas/AuthenticationCodeStatus'
      required:
      - id
      - status
      - expires_at
      - attempts
      - entity_id
      title: AuthenticationCode
      type: object
    DepositAccountType:
      enum:
      - Iban
      - Wallet
      - AchWire
      - Pix
      - Spei
      - AfricanBankTransfer
      - MobileMoney
      - ChapsFps
      type: string
    AchWireDepositInfo:
      example:
        account_number: '123456789'
        bank_address: 1 Chase Manhattan Plaza, New York, NY 10005, US
        bank_name: JPMorgan Chase Bank
        recipient_address: 123 Main Street, New York, NY 10001, US
        recipient_name: Alan Turing
        routing_number: '021000021'
      properties:
        account_number:
          type: string
        bank_address:
          type: string
        bank_name:
          type: string
        recipient_address:
          type: string
        recipient_name:
          type: string
        routing_number:
          type: string
      required:
      - routing_number
      - account_number
      - bank_name
      - bank_address
      - recipient_name
      - recipient_address
      title: AchWireDepositInfo
      type: object
    DepositRail_SpeiDepositInfo:
      allOf:
      - properties:
          type:
            enum:
            - Spei
            example: Spei
            type: string
        required:
        - type
        type: object
      - $ref: '#/components/schemas/SpeiDepositInfo'
    PartnerFee:
      description: 'Partner Fee


        A partner fee

        '
      properties:
        fee:
          $ref: '#/components/schemas/Amount'
        label:
          description: The label of the partner fee
          type: string
        settlement:
          $ref: '#/components/schemas/FeeSettlement'
      required:
      - label
      - fee
      - settlement
      title: PartnerFee
      type: object
    AutorampQuote:
      description: 'Autoramp Quote


        The autoramp quote used to create an autoramp

        '
      properties:
        amount_in:
          $ref: '#/components/schemas/Amount'
        amount_out:
          $ref: '#/components/schemas/Amount'
        fee:
          $ref: '#/components/schemas/Fee'
        fee_settlement:
          $ref: '#/components/schemas/FeeSettlement'
        partner_fee_settlement:
          $ref: '#/components/schemas/FeeSettlement'
        quote_id:
          description: The id of the quote
          format: uuid
          type: string
        rate:
          description: The rate
          format: decimal
          type: string
        rate_expiry_policy:
          $ref: '#/components/schemas/RateExpiryPolicy'
        rate_lock_valid_until:
          description: The rate lock valid until
          format: date-time
          type: string
        slippage_tolerance_in_bips:
          description: The slippage tolerance in bips
          format: decimal
          type: string
        valid_until:
          description: The valid until
          format: date-time
          type: string
      required:
      - quote_id
      - amount_in
      - amount_out
      - rate
      - rate_lock_valid_until
      - rate_expiry_policy
      - fee
      - fee_settlement
      - partner_fee_settlement
      - valid_until
      title: AutorampQuote
      type: object
    RateExpiryPolicy:
      description: 'Rate Expiry Policy


        The policy for the rate expiry

        '
      enum:
      - Return
      - Slippage
      type: string
    DepositAccount_IbanDepositInfo:
      allOf:
      - properties:
          type:
            enum:
            - SEPA
            example: SEPA
            type: string
        required:
        - type
        type: object
      - $ref: '#/components/schemas/IbanDepositInfo'
      description: 'DepositAccount


        DEPRECATED: please use the deposit_rails field instead

        '
    BankAccountIdentifier_BankAccountSWIFTIdentifier:
      allOf:
      - properties:
          type:
            enum:
            - SWIFT
            example: SWIFT
            type: string
        required:
        - type
        type: object
      - $ref: '#/components/schemas/BankAccountSWIFTIdentifier'
    FpsDepositInfo:
      example:
        account_number: '55779911'
        bank_address: 2 Thomas More Square, London, E1W 1YN
        bank_name: Banking Circle UK
        beneficiary_name: Alan Turing
        sort_code: 20-00-00
      properties:
        account_number:
          type: string
        bank_address:
          type: string
        bank_name:
          type: string
        beneficiary_name:
          type: string
        sort_code:
          type: string
      required:
      - sort_code
      - account_number
      title: FpsDepositInfo
      type: object
    ACHDepositInfo:
      example:
        account_number: '123456789'
        bank_address: 1 Chase Manhattan Plaza, New York, NY 10005, US
        bank_name: JPMorgan Chase Bank
        recipient_address: 123 Main Street, New York, NY 10001, US
        recipient_name: Alan Turing
        routing_number: '021000021'
      properties:
        account_number:
          type: string
        bank_address:
          type: string
        bank_name:
          type: string
        recipient_address:
          type: string
        recipient_name:
          type: string
        routing_number:
          type: string
      required:
      - routing_number
      - account_number
      - bank_name
      - bank_address
      - recipient_name
      - recipient_address
      title: ACHDepositInfo
      type: object
    ApiAutorampQuotePreview:
      description: 'Autoramp Quote Preview


        A recipient-free pricing preview, shaped like a signed quote but not

        submittable: no quote_id, signature, or validity window.

        '
      properties:
        amount_in:
          $ref: '#/components/schemas/Amount'
        amount_out:
          $ref: '#/components/schemas/Amount'
        assumed_payout_rail:
          $ref: '#/components/schemas/PaymentNetwork'
        customer_id:
          description: The customer id
          format: uuid
          type: string
        destination_currency:
          $ref: '#/components/schemas/Currency'
        fee:
          $ref: '#/components/schemas/Fee'
        fee_profile_id:
          description: The fee profile this preview was priced against
          format: uuid
          type: string
        fee_settlement:
          $ref: '#/components/schemas/FeeSettlement'
        rate:
          description: The rate (destination per 1 source)
          format: decimal
          type: string
        source_currency:
          $ref: '#/components/schemas/Currency'
      required:
      - source_currency
      - destination_currency
      - customer_id
      - amount_in
      - amount_out
      - rate
      - fee
      - fee_settlement
      - fee_profile_id
      title: ApiAutorampQuotePreview
      type: object
    Recipient_RecipientBankAccount:
      allOf:
      - properties:
          type:
            enum:
            - BankAccount
            example: BankAccount
            type: string
        required:
        - type
        type: object
      - $ref: '#/components/schemas/RecipientBankAccount'
      description: 'Recipient


        The recipient of the payment

        '
    DepositAccount_SpeiDepositInfo:
      allOf:
      - properties:
          type:
            enum:
            - Spei
            example: Spei
            type: string
        required:
        - type
        type: object
      - $ref: '#/components/schemas/SpeiDepositInfo'
      description: 'DepositAccount


        DEPRECATED: please use the deposit_rails field instead

        '
    BankAccountIdentifier_BankAccountFedNowIdentifier:
      allOf:
      - properties:
          type:
            enum:
            - FEDNOW
            example: FEDNOW
            type: string
        required:
        - type
        type: object
      - $ref: '#/components/schemas/BankAccountFedNowIdentifier'
    RecipientPostalAddress:
      description: 'RecipientPostalAddress


        The account holder''s address.'
      properties:
        city:
          description: The city
          maxLength: 100
          minLength: 2
          type: string
        country:
          $ref: '#/components/schemas/Country'
        postal_code:
          description: The postal code
          maxLength: 20
          minLength: 3
          type: string
        state:
          description: The state
          type: string
        street:
          description: The street address
          maxLength: 256
          minLength: 2
          type: string
      required:
      - street
      - city
      - state
      - country
      - postal_code
      title: RecipientPostalAddress
      type: object
    PixAccountIdentifier_PixCnpjKey:
      allOf:
      - properties:
          type:
            enum:
            - CNPJ
            example: CNPJ
            type: string
        required:
        - type
        type: object
      - $ref: '#/components/schemas/PixCnpjKey'
      description: 'PixAccountIdentifier


        How the recipient''s PIX account is identified: a DICT key of one of the

        five key types, or full bank account details.'
    PixAccount:
      description: 'PIX Account


        References a previously-registered PIX destination by its id.'
      properties:
        id:
          description: The id of a previously-registered PIX destination
          format: uuid
          type: string
      required:
      - id
      title: PixAccount
      type: object
    DepositRail_MobileMoneyDepositInfo:
      allOf:
      - properties:
          type:
            enum:
            - MobileMoney
            example: MobileMoney
            type: string
        required:
        - type
        type: object
      - $ref: '#/components/schemas/MobileMoneyDepositInfo'
    BankAccountIdentifier_BankAccountACHIdentifier:
      allOf:
      - properties:
          type:
            enum:
            - ACH
            example: ACH
            type: string
        required:
        - type
        type: object
      - $ref: '#/components/schemas/BankAccountACHIdentifier'
    Currency:
      anyOf:
      - $ref: '#/components/schemas/Currency_Crypto'
      - $ref: '#/components/schemas/Currency_Fiat'
      description: 'Currency


        Can be either crypto or fiat

        '
      discriminator:
        mapping:
          Crypto: '#/components/schemas/Currency_Crypto'
          Fiat: '#/components/schemas/Currency_Fiat'
        propertyName: type
      type: object
    Crypto:
      description: A cryptocurrency
      example:
        blockchain: Solana
        token: USDC
      properties:
        blockchain:
          $ref: '#/components/schemas/Blockchain'
        token:
          description: The ticker of the token e.g. 'USDC'
          type: string
      required:
      - token
      - blockchain
      title: Crypto
      type: object
    DepositRail_FedNowDepositInfo:
      allOf:
      - properties:
          type:
            enum:
            - FedNow
            example: FedNow
            type: string
        required:
        - type
        type: object
      - $ref: '#/components/schemas/FedNowDepositInfo'
      description: Available from API version 2026-07-01.
    RecipientName_IndividualName:
      allOf:
      - properties:
          type:
            enum:
            - Individual
            example: Individual
            type: string
        required:
        - type
        type: object
      - $ref: '#/components/schemas/IndividualName'
    DepositRail:
      anyOf:
      - $ref: '#/components/schemas/DepositRail_IbanDepositInfo'
      - $ref: '#/components/schemas/DepositRail_AfricanBankTransferDepositInfo'
      - $ref: '#/components/schemas/DepositRail_PixDepositInfo'
      - $ref: '#/components/schemas/DepositRail_SpeiDepositInfo'
      - $ref: '#/components/schemas/DepositRail_MobileMoneyDepositInfo'
      - $ref: '#/components/schemas/DepositRail_CryptoWallet'
      - $ref: '#/components/schemas/DepositRail_FpsDepositInfo'
      - $ref: '#/components/schemas/DepositRail_ChapsDepositInfo'
      - $ref: '#/components/schemas/DepositRail_ACHDepositInfo'
      - $ref: '#/components/schemas/DepositRail_WireDepositInfo'
      - $ref: '#/components/schemas/DepositRail_RtpDepositInfo'
      - $ref: '#/components/schemas/DepositRail_FedNowDepositInfo'
      - $ref: '#/components/schemas/DepositRail_SwiftDepositInfo'
      discriminator:
        mapping:
          ACH: '#/components/schemas/DepositRail_ACHDepositInfo'
          AfricanBankTransfer: '#/components/schemas/DepositRail_AfricanBankTransferDepositInfo'
          CHAPS: '#/components/schemas/DepositRail_ChapsDepositInfo'
          Crypto: '#/components/schemas/DepositRail_CryptoWallet'
          FPS: '#/components/schemas/DepositRail_FpsDepositInfo'
          FedNow: '#/components/schemas/DepositRail_FedNowDepositInfo'
          MobileMoney: '#/components/schemas/DepositRail_MobileMoneyDepositInfo'
          Pix: '#/components/schemas/DepositRail_PixDepositInfo'
          RTP: '#/components/schemas/DepositRail_RtpDepositInfo'
          SEPA: '#/components/schemas/DepositRail_IbanDepositInfo'
          SWIFT: '#/components/schemas/DepositRail_SwiftDepositInfo'
          Spei: '#/components/schemas/DepositRail_SpeiDepositInfo'
          Wire: '#/components/schemas/DepositRail_WireDepositInfo'
        propertyName: type
      type: object
    DepositRail_AfricanBankTransferDepositInfo:
      allOf:
      - properties:
          type:
            enum:
            - AfricanBankTransfer
            example: AfricanBankTransfer
            type: string
        required:
        - type
        type: object
      - $ref: '#/components/schemas/AfricanBankTransferDepositInfo'
    NetworkFee:
      anyOf:
      - $ref: '#/components/schemas/NetworkFee_Amount'
      - $ref: '#/components/schemas/NetworkFee_Amount'
      - $ref: '#/components/schemas/NetworkFee_Amount'
      - $ref: '#/components/schemas/NetworkFee_Amount'
      - $ref: '#/components/schemas/NetworkFee_Amount'
      - $ref: '#/components/schemas/NetworkFee_Amount'
      - $ref: '#/components/schemas/NetworkFee_Amount'
      - $ref: '#/components/schemas/NetworkFee_Amount'
      - $ref: '#/components/schemas/NetworkFee_Amount'
      - $ref: '#/components/schemas/NetworkFee_Amount'
      - $ref: '#/components/schemas/NetworkFee_Amount'
      - $ref: '#/components/schemas/NetworkFee_Amount'
      - $ref: '#/components/schemas/NetworkFee_Amount'
      description: 'Network Fee


        The network fee for a given currency. This is deprecated and will be removed in the future. Use NetworkFeeWithSettlement instead.

        '
      discriminator:
        mapping:
          AchIn: '#/components/schemas/NetworkFee_Amount'
          AchOut: '#/components/schemas/NetworkFee_Amount'
          CitreaGas: '#/components/schemas/NetworkFee_Amount'
          EthereumGas: '#/components/schemas/NetworkFee_Amount'
          RailFee: '#/components/schemas/NetworkFee_Amount'
          SepaIn: '#/components/schemas/NetworkFee_Amount'
          SepaOut: '#/components/schemas/NetworkFee_Amount'
          SolanaTransactionFee: '#/components/schemas/NetworkFee_Amount'
          StellarTransactionFee: '#/components/schemas/NetworkFee_Amount'
          SwiftIn: '#/components/schemas/NetworkFee_Amount'
          SwiftOut: '#/components/schemas/NetworkFee_Amount'
          WireIn: '#/components/schemas/NetworkFee_Amount'
          WireOut: '#/components/schemas/NetworkFee_Amount'
        propertyName: type
      type: object
    IbanDepositInfo:
      example:
        address: 10 Downing Street, London, SW1A 2AA, GB
        beneficiary_name: Alan Turing
        bic: COBADEFFXXX
        iban: DE89370400440532013000
        name: Iron Bank
        phone: +44-20-1234-5678
      properties:
        address:
          type: string
        beneficiary_name:
          description: The beneficiary name for the IBAN (account holder). For Monerium/Fiat Republic this is always the customer name.
          type: string
        bic:
          type: string
        iban:
          type: string
        name:
          type: string
        phone:
          type: string
      required:
      - iban
      title: IbanDepositInfo
      type: object
    BankAccountIdentifier_BankAccountCHAPSIdentifier:
      allOf:
      - properties:
          type:
            enum:
            - CHAPS
            example: CHAPS
            type: string
        required:
        - type
        type: object
      - $ref: '#/components/schemas/BankAccountCHAPSIdentifier'
    ApiAutorampOpenBankingPayment:
      description: 'Autoramp Open Banking Payment with link to initiate flow


        One payment attempt against a provider for an autoramp''s open-banking flow.'
      properties:
        id:
          description: 'The provider''s payment ID (e.g. tokenio''s payment ID). Use this with

            the GET-by-id endpoint to look up the latest status.'
          type: string
        iron_payment_id:
          description: 'Iron''s internal identifier for this open banking payment. Use this

            as the pagination cursor when listing payments.'
          format: uuid
          type: string
        payment_link:
          type: string
        settlement_status:
          $ref: '#/components/schemas/ApiAutorampOpenBankingPaymentSettlementStatus'
        status:
          $ref: '#/components/schemas/ApiAutorampOpenBankingPaymentStatus'
      required:
      - id
      - iron_payment_id
      - status
      title: ApiAutorampOpenBankingPayment
      type: object
    BankAccountIdentifier_BankAccountFPSIdentifier:
      allOf:
      - properties:
          type:
            enum:
            - FPS
            example: FPS
            type: string
        required:
        - type
        type: object
      - $ref: '#/components/schemas/BankAccountFPSIdentifier'
    DepositRail_RtpDepositInfo:
      allOf:
      - properties:
          type:
            enum:
            - RTP
            example: RTP
            type: string
        required:
        - type
        type: object
      - $ref: '#/components/schemas/RtpDepositInfo'
    CryptoWallet:
      description: 'Crypto Wallet


        The crypto wallet for the autoramp

        '
      properties:
        address:
          description: The address of the crypto account
          type: string
        chain:
          $ref: '#/components/schemas/Blockchain'
      required:
      - chain
      - address
      title: CryptoWallet
      type: object
    DepositRail_ACHDepositInfo:
      allOf:
      - properties:
          type:
            enum:
            - ACH
            example: ACH
            type: string
        required:
        - type
        type: object
      - $ref: '#/components/schemas/ACHDepositInfo'
    AutorampType:
      description: 'Autoramp type


        The type (onramp, offramp, swap) of an autoramp'
      enum:
      - Onramp
      - Offramp
      - Swap
      - Mint
      - Redeem
      type: string
    AfricanBankTransferDepositInfo:
      properties:
        account_name:
          type: string
        account_number:
          type: string
        amount:
          format: decimal
          type: string
        bank_name:
          type: string
        currency:
          type: string
        financial_institution:
          $ref: '#/components/schemas/Bank'
        instruction:
          type: string
        reference_id:
          type: string
      title: AfricanBankTransferDepositInfo
      type: object
    PixEmailKey:
      description: 'PixEmailKey


        A PIX DICT key that is the recipient''s email address.'
      example:
        key: joao.silva@example.com
      properties:
        key:
          maxLength: 77
          pattern: ^[^@\s]+@[^@\s]+$
          type: string
      required:
      - key
      title: PixEmailKey
      type: object
    NetworkFee_Amount:
      allOf:
      - properties:
          type:
            enum:
            - SwiftOut
            example: SwiftOut
            type: string
        required:
        - type
        type: object
      - $ref: '#/components/schemas/Amount'
      description: 'Network Fee


        The network fee for a given currency. This is deprecated and will be removed in the future. Use NetworkFeeWithSettlement instead.

        '
    DepositAccount_ChapsFpsDepositInfo:
      allOf:
      - properties:
          type:
            enum:
            - CHAPSFPS
            example: CHAPSFPS
            type: string
        required:
        - type
        type: object
      - $ref: '#/components/schemas/ChapsFpsDepositInfo'
      description: 'DepositAccount


        DEPRECATED: please use the deposit_rails field instead

        '
    PixDepositInfo:
      properties:
        instruction:
          type: string
        pix_key:
          type: string
      required:
      - pix_key
      - instruction
      title: PixDepositInfo
      type: object
    RecipientName:
      anyOf:
      - $ref: '#/components/schemas/RecipientName_IndividualName'
      - $ref: '#/components/schemas/RecipientName_BusinessName'
      discriminator:
        mapping:
          Business: '#/components/schemas/RecipientName_BusinessName'
          Individual: '#/components/schemas/RecipientName_IndividualName'
        propertyName: type
      type: object
    BankAccountFPSIdentifier:
      example:
        account_number: '55779911'
        sort_code: 20-00-00
      properties:
        account_number:
          type: string
        sort_code:
          type: string
      required:
      - sort_code
      - account_number
      title: BankAccountFPSIdentifier
      type: object
    PagedList_AutorampTransaction:
      description: 'PagedList


        A list of items with cursors used to fetch the next or previous page

        '
      properties:
        cursor:
          description: The cursor used to fetch the next page
          format: uuid
          type: string
        items:
          description: The list of items
          items:
            $ref: '#/components/schemas/AutorampTransaction'
          type: array
        prev_cursor:
          default: null
          description: The cursor used to fetch the previous page
          format: uuid
          type: string
      required:
      - items
      title: PagedList_AutorampTransaction
      type: object
    ApiCanCreateAutorampResponse:
      description: 'Can Create Autoramp Response


        Indicates whether a customer can create a new autoramp.

        '
      properties:
        can_create:
          description: Whether the customer can create a new autoramp based on the provided parameters.
          type: boolean
      required:
      - can_create
      title: ApiCanCreateAutorampResponse
      type: object
    Bank:
      enum:
      - 9JAPAY MICROFINANCE
      - ABSA Bank Botswana
      - ACCESS BANK
      - AFRICAN BANKING CORPORATION
      - AIRTELMONEYTZ
      - AZAMPESA
      - Absa Bank
      - Absa Bank Kenya Plc
      - Absa Bank Tanzania Limited
      - Access Bank
      - Access Bank (Diamond)
      - AccessBank Tanzania
      - African Bank
      - Airtel
      - Akiba Commercial Bank
      - Albaraka Bank
      - Amana Bank
      - Azania Bank
      - BANK OF AFRICA KENYA LTD
      - BANK OF BARODA
      - BANK OF INDIA
      - BARCLAYS BANK
      - BancABC Tanzania
      - Bank Gaborone Limited
      - Bank Of Baroda Botswana
      - Bank Of Namibia
      - Bank of Africa Tanzania Limited
      - Bank of Athens
      - Bank of Baroda Tanzania Limited
      - Bank of Tanzania
      - Barclays Bank
      - Bidvest Bank
      - CENTRAL BANK OF KENYA
      - CHARTERHOUSE BANK LTD
      - CITIBANK N.A.
      - CO-OPERATIVE BANK
      - COMMERCIAL BANK OF AFRICA LTD
      - CONSOLIDATED BANK OF KENYA LTD
      - CRDB Bank
      - CREDIT BANK LTD
      - Capitec Bank
      - Central Bank Of Lesotho
      - China Commercial Bank Limited
      - Citi Bank
      - Citibank Nigeria
      - Citibank Tanzania Ltd
      - DCB Commercial Bank
      - DEVELOPMENT BANK OF KENYA
      - DIAMOND TRUST BANK
      - DUBAI BANK OF KENYA LTD
      - Diamond Trust Bank Tanzania
      - Discovery Bank Limited
      - ECOBANK KENYA LTD
      - EQUITORIAL COMMERCIAL BANK LTD
      - EQUITY BANK
      - Ecobank
      - Ecobank Nigeria
      - Enterprise Bank
      - Equity Bank (Tanzania)
      - Exim Bank (Tanzania)
      - FAMILY BANK LTD
      - FIDELITY COMMERCIAL BANK
      - FIRST COMMUNITY BANK
      - Fairmoney Microfinance Bank Ltd
      - Fidelity Bank
      - Finbond Mutual Bank
      - First Bank of Nigeria
      - First Capital Bank Botswana
      - First City Monument Bank
      - First National Bank
      - First National Bank (South Africa)
      - First National Bank Lesotho
      - First National Bank Namibia
      - First National Bank Swaziland
      - First National Bank of Tanzania
      - FirstRand Bank Limited
      - GIRO BANK LTD
      - GT Bank
      - GUARANTY TRUST (KENYA) LTD
      - GUARDIAN BANK
      - GULF AFRICAN BANK LTD
      - GoMoney
      - Grinrod Bank
      - Guaranty Trust Bank
      - Guaranty Trust Bank (Tanzania) Limited
      - HABIB BANK A.G.
      - HABIB BANK LTD
      - HALOPESA
      - HOUSING FINANCE CORPORATION OF KENYA
      - Habib African Bank
      - Heritage Bank
      - Hsbc Bank
      - I&M Bank (Tanzania)
      - IMPERIAL BANK LIMITED
      - INVESTMENTS AND MORTGAGES
      - International Commercial Bank Tanzania
      - Investec Bank
      - JAMII BORA BANK LTD
      - Jaiz Bank
      - Jp Morgan Chase Bank
      - K-REP BANK
      - KENYA COMMERCIAL BANK LTD
      - Kcb Bank Tanzania Limited
      - Keystone Bank
      - Kuda Microfinance Bank
      - Letshego Bank Tanzania
      - Lotus Bank
      - MIDDLE EAST BANK (K) LIMITED
      - MTN
      - Maendeleo Bank Ltd
      - Mainstreet Bank
      - Meeg Bank
      - Mercantile Bank Limited
      - Mkombozi Commercial Bank
      - MoMo PSB
      - Mobile Wallet
      - Mobile Wallet (M-PESA)
      - Moniepoint Microfinance Bank
      - Moov money
      - Mtn Banking
      - Mtn Mobile Money
      - Mwalimu Commercial Bank
      - NATIONAL BANK OF KENYA
      - NCBA Bank
      - NCBA Bank Tanzania
      - NET MFB
      - National Bank of Commerce (Tanzania)
      - National Microfinance Bank
      - Nedbank (South Africa)
      - Nownow（Contec Global)
      - OPay
      - ORIENTAL COMMERCIAL BANK
      - Old Mutual
      - Orange Money
      - PARAMOUNT UNIVERSAL BANK LTD
      - PRIME BANK LIMITED
      - Paga
      - PalmPay
      - Peach
      - People's Bank of Zanzibar
      - Polaris Bank
      - Postbank
      - Premium Trust bank
      - Providus Bank
      - RMB Private Bank
      - Rand Merchant Bank
      - SA Post Bank (Post Office)
      - STANBIC BANK
      - STANBIC BANK KENYA LIMITED
      - STANDARD CHARTERED
      - Sasfin Bank Limited
      - South African Bank of Athens Limited
      - Stanbic Bank Tanzania Limited
      - Stanbic Ibtc Bank
      - Standard Bank (South Africa)
      - Standard Bank Namibia
      - Standard Chartered Bank
      - Standard Chartered Bank Botswana Limited
      - State Bank Of India
      - Sterling Bank
      - TIGO
      - TNM
      - TPB Bank Plc
      - TRANS-NATIONAL BANK
      - Taj Bank
      - Titan-Paystack
      - Tyme Bank
      - UBA KENYA LTD
      - Ubank
      - Unibank
      - Union Bank of Nigeria
      - United Bank for Africa
      - Unity Bank
      - VFD Microfinance Bank
      - VICTORIA COMMERCIAL BANK LTD
      - VISA/MasterCard
      - VODACOM
      - Vbs Mutual Bank
      - Wave
      - Wema Bank
      - Zamtel
      - Zenith Bank
      type: string
    DepositAccount_AchWireDepositInfo:
      allOf:
      - properties:
          type:
            enum:
            - ACHWire
            example: ACHWire
            type: string
        required:
        - type
        type: object
      - $ref: '#/components/schemas/AchWireDepositInfo'
      description: 'DepositAccount


        DEPRECATED: please use the deposit_rails field instead

        '
    SortOrder:
      enum:
      - asc
      - desc
      type: string
    RecipientBankAccount:
      description: 'RecipientBankAccount


        A recipient fiat bank account

        '
      example:
        account_identifier:
          iban: DE89370400440532013000
          type: SEPA
        address:
          city: London
          country:
            code: GB
          postal_code: SW1A 2AA
          state: England
          street: 10 Downing Street
        bank_address: null
        email_address:
          email: john.doe@example.com
        is_third_party: false
        phone_number: +49-30-12345678
        provider_country:
          code: DE
        provider_name: Iron Bank
        recipient:
          name: Aperture Science
          type: Business
      properties:
        account_identifier:
          $ref: '#/components/schemas/BankAccountIdentifier'
        address:
          $ref: '#/components/schemas/RecipientPostalAddress'
        bank_address:
          $ref: '#/components/schemas/BankPostalAddress'
        email_address:
          $ref: '#/components/schemas/EmailAddress'
        is_third_party:
          description: Is this a users fiat bank account or a third party fiat bank account
          type: boolean
        phone_number:
          description: The recipient's phone number. Required for USD accounts.
          type: string
        provider_country:
          $ref: '#/components/schemas/Country'
        provider_name:
          description: The name of the provider of the recipient's account
          type: string
        recipient:
          $ref: '#/components/schemas/RecipientName'
      required:
      - recipient
      - provider_name
      - provider_country
      - account_identifier
      - address
      - is_third_party
      title: RecipientBankAccount
      type: object
    RtpDepositInfo:
      example:
        account_number: '456789123'
        bank_address: 1 Chase Manhattan Plaza, New York, NY 10005, US
        bank_name: JPMorgan Chase Bank
        recipient_address: 123 Main Street, New York, NY 10001, US
        recipient_name: Alan Turing
        routing_number: '021000021'
      properties:
        account_number:
          type: string
        bank_address:
          type: string
        bank_name:
          type: string
        recipient_address:
          type: string
        recipient_name:
          type: string
        routing_number:
          type: string
      required:
      - routing_number
      - account_number
      - bank_name
      - bank_address
      - recipient_name
      - recipient_address
      title: RtpDepositInfo
      type: object
    DepositAccount_PixDepositInfo:
      allOf:
      - properties:
          type:
            enum:
            - Pix
            example: Pix
            type: string
        required:
        - type
        type: object
      - $ref: '#/components/schemas/PixDepositInfo'
      description: 'DepositAccount


        DEPRECATED: please use the deposit_rails field instead

        '
    CreateAutoramp:
      description: Either a set of market parameters or a signed quote. Optionally include a `type` field (`market` | `quote`) to get precise validation errors.
      oneOf:
      - allOf:
        - $ref: '#/components/schemas/CreateAutorampParameters'
        - properties:
            type:
              description: Optional discriminator. When present, the body is parsed as this variant and validation errors point at the offending field instead of the whole payload.
              enum:
              - market
              type: string
          type: object
      - allOf:
        - $ref: '#/components/schemas/SignedAutorampQuote'
        - properties:
            type:
              description: Optional discriminator. When present, the body is parsed as this variant and validation errors point at the offending field instead of the whole payload.
              enum:
              - quote
              type: string
          type: object
    BankAccountWireIdentifier:
      example:
        account_number: '987654321'
        routing_number: '021000021'
      properties:
        account_number:
          description: US account number (4-17 alphanumeric characters)
          pattern: ^[0-9A-Z]{4,17}$
          type: string
        routing_number:
          description: US routing number (exactly 9 digits)
          pattern: ^[0-9]{9}$
          type: string
      required:
      - routing_number
      - account_number
      title: BankAccountWireIdentifier
      type: object
    Blockchain:
      description: 'Blockchain


        A type of blockchain

        '
      enum:
      - Solana
      - Ethereum
      - Polygon
      - Arbitrum
      - Base
      - Stellar
      - Citrea
      - Plasma
      - Avalanche
      - Moca
      - Tempo
      - Tron
      - Bsc
      type: string
    NetworkFeeWithSettlement:
      description: 'Network Fee with Settlement


        The network fee with settlement for a given currency

        '
      properties:
        fee_amount:
          $ref: '#/components/schemas/Amount'
        fee_type:
          $ref: '#/components/schemas/NetworkFeeType'
        settlement:
          $ref: '#/components/schemas/FeeSettlement'
      required:
      - fee_type
      - fee_amount
      title: NetworkFeeWithSettlement
      type: object
    ChapsDepositInfo:
      example:
        account_number: '12345678'
        bank_address: 2 Thomas More Square, London, E1W 1YN
        bank_name: Banking Circle UK
        beneficiary_name: Alan Turing
        sort_code: 20-00-00
      properties:
        account_number:
          type: string
        bank_address:
          type: string
        bank_name:
          type: string
        beneficiary_name:
          description: The beneficiary name (account holder) for the GBP account. For Fiat Republic this is the customer name.
          type: string
        sort_code:
          type: string
      required:
      - sort_code
      - account_number
      title: ChapsDepositInfo
      type: object
    PixAccountIdentifier_PixCpfKey:
      allOf:
      - properties:
          type:
            enum:
            - CPF
            example: CPF
            type: string
        required:
        - type
        type: object
      - $ref: '#/components/schemas/PixCpfKey'
      description: 'PixAccountIdentifier


        How the recipient''s PIX account is identified: a DICT key of one of the

        five key types, or full bank account details.'
    NetworkFeeType:
      description: 'Network Fee Type


        The type of network fee

        '
      enum:
      - SepaIn
      - SepaOut
      - EthereumGas
      - CitreaGas
      - SolanaTransactionFee
      - StellarTransactionFee
      - PolygonGas
      - BaseGas
      - AvalancheGas
      - TronGas
      - BscGas
      - RailFee
      - AchIn
      - AchOut
      - WireIn
      - WireOut
      - SwiftIn
      - SwiftOut
      - FpsIn
      - FpsOut
      - ChapsIn
      - ChapsOut
      - RtpIn
      - RtpOut
      - FednowIn
      - FednowOut
      type: string
    AuthenticationCodeStatus:
      description: The status of the Authentication Code
      enum:
      - Pending
      - Expired
      - Confirmed
      - Rejected
      type: string
    PagedList_ApiAutorampOpenBankingPayment:
      description: 'PagedList


        A list of items with cursors used to fetch the next or previous page

        '
      properties:
        cursor:
          description: The cursor used to fetch the next page
          format: uuid
          type: string
        items:
          description: The list of items
          items:
            $ref: '#/components/schemas/ApiAutorampOpenBankingPayment'
          type: array
        prev_cursor:
          default: null
          description: The cursor used to fetch the previous page
          format: uuid
          type: string
      required:
      - items
      title: PagedList_ApiAutorampOpenBankingPayment
      type: object
    RecipientName_BusinessName:
      allOf:
      - properties:
          type:
            enum:
            - Business
            example: Business
            type: string
        required:
        - type
        type: object
      - $ref: '#/components/schemas/BusinessName'
    ApiError:
      description: 'Standard error response returned to API clients for server errors.

        Includes a trace_id that clients can reference when reporting issues.'
      properties:
        message:
          description: Human-readable error message
          type: string
        trace_id:
          description: Trace ID that can be used to look up request details in logs
          type: string
      required:
      - message
      - trace_id
      title: ApiError
      type: object
    Recipient_RecipientPix:
      allOf:
      - properties:
          type:
            enum:
            - Pix
            example: Pix
            type: string
        required:
        - type
        type: object
      - $ref: '#/components/schemas/RecipientPix'
      description: 'Recipient


        The recipient of the payment

        '
    EmailAddress:
      description: 'EmailAddress


        An email address

        An email address

        '
      example:
        email: john.doe@example.com
      properties:
        email:
          description: The email address
          type: string
      required:
      - email
      title: EmailAddress
      type: object
    FiatAccount:
      description: 'Fiat Account


        The fiat account for the autoramp

        '
      properties:
        account_identifier:
          $ref: '#/components/schemas/BankAccountIdentifier'
      required:
      - account_identifier
      title: FiatAccount
      type: object
    BankAccountIdentifier_BankAccountWireIdentifier:
      allOf:
      - properties:
          type:
            enum:
            - Wire
            example: Wire
            type: string
        required:
        - type
        type: object
      - $ref: '#/components/schemas/BankAccountWireIdentifier'
    BankAccountIdentifier_Iban:
      allOf:
      - properties:
          type:
            enum:
            - SEPA
            example: SEPA
            type: string
        required:
        - type
        type: object
      - $ref: '#/components/schemas/Iban'
    DepositAccount:
      anyOf:
      - $ref: '#/components/schemas/DepositAccount_IbanDepositInfo'
      - $ref: '#/components/schemas/DepositAccount_AchWireDepositInfo'
      - $ref: '#/components/schemas/DepositAccount_AfricanBankTransferDepositInfo'
      - $ref: '#/components/schemas/DepositAccount_PixDepositInfo'
      - $ref: '#/components/schemas/DepositAccount_SpeiDepositInfo'
      - $ref: '#/components/schemas/DepositAccount_MobileMoneyDepositInfo'
      - $ref: '#/components/schemas/DepositAccount_CryptoWallet'
      - $ref: '#/components/schemas/DepositAccount_ChapsFpsDepositInfo'
      description: 'DepositAccount


        DEPRECATED: please use the deposit_rails field instead

        '
      discriminator:
        mapping:
          ACHWire: '#/components/schemas/DepositAccount_AchWireDepositInfo'
          AfricanBankTransfer: '#/components/schemas/DepositAccount_AfricanBankTransferDepositInfo'
          CHAPSFPS: '#/components/schemas/DepositAccount_ChapsFpsDepositInfo'
          Crypto: '#/components/schemas/DepositAccount_CryptoWallet'
          MobileMoney: '#/components/schemas/DepositAccount_MobileMoneyDepositInfo'
          Pix: '#/components/schemas/DepositAccount_PixDepositInfo'
          SEPA: '#/components/schemas/DepositAccount_IbanDepositInfo'
          Spei: '#/components/schemas/DepositAccount_SpeiDepositInfo'
        propertyName: type
      type: object
    BankAccountFedNowIdentifier:
      example:
        account_number: '456789123'
        routing_number: '021000021'
      properties:
        account_number:
          description: US account number (4-17 alphanumeric characters)
          pattern: ^[0-9A-Z]{4,17}$
          type: string
        routing_number:
          description: US routing number (exactly 9 digits)
          pattern: ^[0-9]{9}$
          type: string
      required:
      - routing_number
      - account_number
      title: BankAccountFedNowIdentifier
      type: object
    DepositRail_SwiftDepositInfo:
      allOf:
      - properties:
          type:
            enum:
            - SWIFT
            example: SWIFT
            type: string
        required:
        - type
        type: object
      - $ref: '#/components/schemas/SwiftDepositInfo'
    DepositRail_IbanDepositInfo:
      allOf:
      - properties:
          type:
            enum:
            - SEPA
            example: SEPA
            type: string
        required:
        - type
        type: object
      - $ref: '#/components/schemas/IbanDepositInfo'
    PixAccountIdentifier_PixEmailKey:
      allOf:
      - properties:
          type:
            enum:
            - EMAIL
            example: EMAIL
            type: string
        required:
        - type
        type: object
      - $ref: '#/components/schemas/PixEmailKey'
      description: 'PixAccountIdentifier


        How the recipient''s PIX account is identified: a DICT key of one of the

        five key types, or full bank account details.'
    BankAccountACHIdentifier:
      example:
        account_number: '123456789'
        routing_number: '021000021'
      properties:
        account_number:
[...]
